@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  @apply flex justify-between items-center sm:px-16 px-8 py-4 max-w-7xl mx-auto absolute top-0 bg-transparent z-10 left-0 right-0 border-b-2;
}

.box {
  @apply p-6 max-w-sm bg-white rounded-xl shadow-lg flex items-center;
}
.input_box {
  @apply mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
  focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
  disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
  invalid:border-pink-500 invalid:text-pink-600
  focus:invalid:border-pink-500 focus:invalid:ring-pink-500;
}

.elevate_button {
  @apply flex items-center mx-auto justify-center px-6 py-2 rounded-full shadow-md text-white bg-gradient-to-r mt-3 from-purple-500 to-indigo-500;
}
